      <section id="blog-section">
        <div class="container">
          <div class="row">
            <div class="blog-section-head col-sm-6 col-md-8 mx-auto">
              <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                <!-- sub heading section-->
                <h6 class="text-capitalize">story of love</h6>
                <!-- heading section-->
                <h2 class="text-capitalize">our special journal</h2>
              </div>
              <!-- section description-->
              <p>My fiancé proposed on the Fourth of July. My mother asked us to go to the backyard to get some chairs and he took me by the shed where we could see all of the fireworks. </p>
            </div>
          </div>
          <div class="row">
            <div class="blog-section-body col-md-8 col-lg-4 mx-auto">
              <div class="blog-card">
                <div class="blog-card-head">
                  <!-- blog thumbnail--><img src="/img/blog-img-1.jpg" alt="blog image">
                </div>
                <div class="blog-card-body">
                  <div class="blog-card-detail">
                    <ul class="blog-card-date">
                      <!-- blog date-->
                      <li>24</li>
                      <!-- blog month-->
                      <li class="text-uppercase">mar</li>
                    </ul>
                    <div class="blog-card-title">
                      <!-- blog categoriez-->
                      <h6 class="text-capitalize">wedding</h6>
                      <!-- blog titlt-->
                      <h3 class="text-capitalize">story of love</h3>
                    </div>
                  </div>
                  <div class="blog-card-description">
                    <!-- blog description-->
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p><a class="btn btn-default text-capitalize" href="blog-post-standart.html">read more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-section-body col-md-8 col-lg-4 mx-auto">
              <div class="blog-card">
                <div class="blog-card-head">
                  <!-- blog thumbnail--><img src="/img/blog-img-2.jpg" alt="blog image">
                </div>
                <div class="blog-card-body">
                  <div class="blog-card-detail">
                    <ul class="blog-card-date">
                      <!-- blog date-->
                      <li>24</li>
                      <!-- blog month-->
                      <li class="text-uppercase">mar</li>
                    </ul>
                    <div class="blog-card-title">
                      <!-- blog categoriez-->
                      <h6 class="text-capitalize">wedding</h6>
                      <!-- blog titlt-->
                      <h3 class="text-capitalize">we're happy</h3>
                    </div>
                  </div>
                  <div class="blog-card-description">
                    <!-- blog description-->
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p><a class="btn btn-default text-capitalize" href="blog-post-standart.html">read more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-section-body col-md-8 col-lg-4 mx-auto">
              <div class="blog-card">
                <div class="blog-card-head">
                  <!-- blog thumbnail--><img src="/img/blog-img-3.jpg" alt="blog image">
                </div>
                <div class="blog-card-body">
                  <div class="blog-card-detail">
                    <ul class="blog-card-date">
                      <!-- blog date-->
                      <li>24</li>
                      <!-- blog month-->
                      <li class="text-uppercase">mar</li>
                    </ul>
                    <div class="blog-card-title">
                      <!-- blog categoriez-->
                      <h6 class="text-capitalize">wedding</h6>
                      <!-- blog titlt-->
                      <h3 class="text-capitalize">travel again</h3>
                    </div>
                  </div>
                  <div class="blog-card-description">
                    <!-- blog description-->
                    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p><a class="btn btn-default text-capitalize" href="blog-post-standart.html">read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>