      <section id="gallery-section">
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="/img/gallery-img-1.jpg" alt="gallery image">
              <div class="gallery-section-detail">
                <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <h6 class="text-capitalize">traveling</h6>
                  <!-- heading section-->
                  <h2 class="text-capitalize">two weeks in mexico</h2>
                </div>
                <!-- gallery photo description-->
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
              </div>
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="/img/gallery-img-2.jpg" alt="gallery image">
              <div class="gallery-section-detail">
                <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <h6 class="text-capitalize">traveling</h6>
                  <!-- heading section-->
                  <h2 class="text-capitalize">two weeks in mexico</h2>
                </div>
                <!-- gallery photo description-->
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
              </div>
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="/img/gallery-img-3.jpg" alt="gallery image">
              <div class="gallery-section-detail">
                <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <h6 class="text-capitalize">traveling</h6>
                  <!-- heading section-->
                  <h2 class="text-capitalize">two weeks in mexico</h2>
                </div>
                <!-- gallery photo description-->
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
              </div>
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="/img/gallery-img-4.jpg" alt="gallery image">
              <div class="gallery-section-detail">
                <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <h6 class="text-capitalize">traveling</h6>
                  <!-- heading section-->
                  <h2 class="text-capitalize">two weeks in mexico</h2>
                </div>
                <!-- gallery photo description-->
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
              </div>
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="/img/gallery-img-5.jpg" alt="gallery image">
              <div class="gallery-section-detail">
                <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <h6 class="text-capitalize">traveling</h6>
                  <!-- heading section-->
                  <h2 class="text-capitalize">two weeks in mexico</h2>
                </div>
                <!-- gallery photo description-->
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
              </div>
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="/img/gallery-img-6.jpg" alt="gallery image">
              <div class="gallery-section-detail">
                <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <h6 class="text-capitalize">traveling</h6>
                  <!-- heading section-->
                  <h2 class="text-capitalize">two weeks in mexico</h2>
                </div>
                <!-- gallery photo description-->
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
              </div>
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="/img/gallery-img-7.jpg" alt="gallery image">
              <div class="gallery-section-detail">
                <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <h6 class="text-capitalize">traveling</h6>
                  <!-- heading section-->
                  <h2 class="text-capitalize">two weeks in mexico</h2>
                </div>
                <!-- gallery photo description-->
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
              </div>
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="/img/gallery-img-8.jpg" alt="gallery image">
              <div class="gallery-section-detail">
                <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <h6 class="text-capitalize">traveling</h6>
                  <!-- heading section-->
                  <h2 class="text-capitalize">two weeks in mexico</h2>
                </div>
                <!-- gallery photo description-->
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
              </div>
            </div>
          </div>
        </div>
      </section>