      <section id="gallery-section">
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="https://cloud-cube.s3.amazonaws.com/kk6rlclk5t5b/public/DSC05558-sq.jpg" alt="gallery image">
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="https://cloud-cube.s3.amazonaws.com/kk6rlclk5t5b/public/DSC00060-sq.jpg" alt="gallery image">
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="https://cloud-cube.s3.amazonaws.com/kk6rlclk5t5b/public/DSC05732-sq.jpg" alt="gallery image">
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="https://cloud-cube.s3.amazonaws.com/kk6rlclk5t5b/public/DSC05624-sq.jpg" alt="gallery image">
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="https://cloud-cube.s3.amazonaws.com/kk6rlclk5t5b/public/DSC00159-sq.jpg" alt="gallery image">
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="https://cloud-cube.s3.amazonaws.com/kk6rlclk5t5b/public/DSC05628-sq.jpg" alt="gallery image">
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="https://cloud-cube.s3.amazonaws.com/kk6rlclk5t5b/public/DSC00172-sq.jpg" alt="gallery image">
            </div>
            <div class="gallery-section-item col-md-6 col-lg-6 col-xl-3">
              <!-- gallery photo--><img src="https://cloud-cube.s3.amazonaws.com/kk6rlclk5t5b/public/DSC05632-sq.jpg" alt="gallery image">
            </div>
          </div>
        </div>
      </section>