      <section id="gift-section">
        <div class="container">
          <div class="row">
            <div class="gift-card col-md-7 col-lg-4 mx-auto">
              <div class="gift-card-head">
                <!-- gift or brand logo--><img src="/img/gift-logo-img-1.png" alt="gift logo">
              </div>
              <div class="gift-card-body">
                <!-- gift or brand description-->
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
              </div>
            </div>
            <div class="gift-card col-md-7 col-lg-4 mx-auto">
              <div class="gift-card-head">
                <!-- gift or brand logo--><img src="/img/gift-logo-img-2.png" alt="gift logo">
              </div>
              <div class="gift-card-body">
                <!-- gift or brand description-->
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
              </div>
            </div>
            <div class="gift-card col-md-7 col-lg-4 mx-auto">
              <div class="gift-card-head">
                <!-- gift or brand logo--><img src="/img/gift-logo-img-3.png" alt="gift logo">
              </div>
              <div class="gift-card-body">
                <!-- gift or brand description-->
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
              </div>
            </div>
          </div>
        </div>
      </section>