      <section id="groom-profile-section">
        <div class="profile-section-photo">
          <!-- the groom photo--><img src="/img/groom-bg.png" alt="groom photo">
        </div>
        <div class="container-fluid">   
          <div class="row align-items-center">
            <div class="profile-section-detail col-sm-5 col-md-12 col-lg-6 col-xl-5 mr-auto order-2">
              <div class="profile-section-header">
                <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <h6 class="text-capitalize">the groom</h6>
                  <!-- heading section-->
                  <h2 class="text-capitalize">jhon doe</h2>
                </div>
              </div>
              <div class="profile-section-body">
                <!-- profile description-->
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                <p>Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                <p>Aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
              </div>
            </div>
            <div class="profile-section-gallery col-sm-4 col-md-12 col-lg-6 col-xl-4 order-1">
              <div class="profile-gallery-item groom-gallery">
                <!-- groom gallery--><a href="img/groom-gallery-1.jpg"><img src="/img/groom-gallery-1.jpg" alt="gallery photo"></a>
              </div>
              <div class="profile-gallery-item groom-gallery">
                <!-- groom gallery--><a href="img/groom-gallery-2.jpg"><img src="/img/groom-gallery-2.jpg" alt="gallery photo"></a>
              </div>
              <div class="profile-gallery-item groom-gallery">
                <!-- groom gallery--><a href="img/groom-gallery-3.jpg"><img src="/img/groom-gallery-3.jpg" alt="gallery photo"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- GROOM FAMILY SECTION-->
      <section id="family-section">
        <div class="container">
          <div class="section-header row justify-content-center">
            <div class="col-sm-6 col-md-8 text-center">
              <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                <!-- sub heading section-->
                <h6 class="text-capitalize">the brides family</h6>
                <!-- heading section-->
                <h2 class="text-capitalize">brides &amp; groomsman</h2>
              </div>
              <!-- section description-->
              <p>My fiancé proposed on the Fourth of July. My mother asked us to go to the backyard to get some chairs and he took me by the shed where we could see all of the fireworks.</p>
            </div>
          </div>
          <div class="section-body row">
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <div class="flowers">
                    <div class="flower-left"><img src="/img/flower.png" alt="flower"></div>
                    <div class="flower-right"><img src="/img/flower.png" alt="flower"></div>
                  </div>
                  <div class="card-profile-photo">
                    <!-- the bridesmaid or groomsmain photo--><img src="/img/family-img-1.jpg" alt="card profile photo">
                  </div>
                  <!-- the bridesmaid or groomsman title-->
                  <h6 class="text-capitalize">sister</h6>
                  <!-- the bridesmaid or groomsman name-->
                  <h3 class="text-capitalize">alexandra</h3><span class="dot"></span>
                  <!-- the bridesmaid or groomsman messages-->
                  <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <div class="flowers">
                    <div class="flower-left"><img src="/img/flower.png" alt="flower"></div>
                    <div class="flower-right"><img src="/img/flower.png" alt="flower"></div>
                  </div>
                  <div class="card-profile-photo">
                    <!-- the bridesmaid or groomsmain photo--><img src="/img/family-img-2.jpg" alt="card profile photo">
                  </div>
                  <!-- the bridesmaid or groomsman title-->
                  <h6 class="text-capitalize">brother</h6>
                  <!-- the bridesmaid or groomsman name-->
                  <h3 class="text-capitalize">gustavo</h3><span class="dot"></span>
                  <!-- the bridesmaid or groomsman messages-->
                  <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-8 col-lg-4 mx-auto">
              <div class="card-profile text-center">
                <div class="card-profile-background"></div>
                <div class="card-profile-content">
                  <div class="flowers">
                    <div class="flower-left"><img src="/img/flower.png" alt="flower"></div>
                    <div class="flower-right"><img src="/img/flower.png" alt="flower"></div>
                  </div>
                  <div class="card-profile-photo">
                    <!-- the bridesmaid or groomsmain photo--><img src="/img/family-img-3.jpg" alt="card profile photo">
                  </div>
                  <!-- the bridesmaid or groomsman title-->
                  <h6 class="text-capitalize">friend</h6>
                  <!-- the bridesmaid or groomsman name-->
                  <h3 class="text-capitalize">shamanta</h3><span class="dot"></span>
                  <!-- the bridesmaid or groomsman messages-->
                  <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>