<section id="rspv-section">
    <div class="section-background">
        <div class="flower right"><img src="/img/flower.png" alt="section background image"/></div>
        <div class="flower left"><img src="/img/flower.png" alt="section background image"/></div>
    </div>
    <div class="container">
        <div class="row">
        <div class="rspv-section-head col-sm-12 col-lg-8 mx-auto">
            <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
            <!-- sub heading section-->
            <h6 class="text-capitalize">are you attend?</h6>
            <!-- heading section-->
            <h2 class="text-capitalize">the reservation</h2>
            </div>
            <!-- section description-->
            <p class="text-center">My fiancé proposed on the Fourth of July. My mother asked us to go to the backyard to get some chairs and he took me by the shed where we could see all of the fireworks. </p>
        </div>
        </div>
        <div class="row">
        <div class="rspv-section-body col-sm-12 col-lg-10 mx-auto">
            <form>
            <div class="row rspv-section-input-area">
                <div class="col-sm-6">
                <div class="form-group">
                    <label class="sr-only" for="name">your name</label>
                    <input class="form-control" type="text" id="name" placeholder="your name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">your email</label>
                    <input class="form-control" type="email" id="email" placeholder="your email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="attend">are you attend</label>
                    <select class="form-control" id="attend">
                    <option>are you attend</option>
                    <option>yes</option>
                    <option>no</option>
                    </select>
                </div>
                </div>
                <div class="col-sm-6">
                <div class="form-group">
                    <label class="sr-only" for="messsage">message</label>
                    <textarea class="form-control" id="message" placeholder="message"></textarea>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                <button class="btn btn-default" type="submit">submit</button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
</section>