      <section id="welcome-section">
        <div class="section-background">
          <div class="flower right"><img src="/img/flower.png" alt="section background image"/></div>
          <div class="flower left"><img src="/img/flower.png" alt="section background image"/></div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
              <!-- sub heading section-->
              <h6 class="text-capitalize">welcome</h6>
              <!-- heading section-->
              <h2 class="text-capitalize">the special day</h2>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center">  
            <div id="clockdiv" class="section-header">
                <div>
                    <h1 class="days"></h1> :
                    <div class="smalltext">Days</div>
                </div>
                <div>
                    <h1 class="hours"></h1> :
                    <div class="smalltext">Hours</div>
                </div>
                <div>
                    <h1 class="minutes"></h1> :
                    <div class="smalltext">Minutes</div>
                </div>
                <div>
                    <h1 class="seconds"></h1>
                    <div class="smalltext">Seconds</div>
                </div>
            </div>
          </div>
          <!-- <div class="row justify-content-center">
            <div class="section-body col-sm-8"> -->
              <!-- welcome message-->
              <!-- <p class="text-center">
                My fiancé proposed on the Fourth of July. My mother asked us to go to the backyard to get some chairs and he took me by the shed where we could see all of the fireworks. He kissed me, then he took the ring box out of his pocket and asked me to be his wife. He was shaking a little. The proposal was a little silly but perfect, just like him."
                <span>— Jeska Cords</span>
              </p>
            </div>
          </div> -->
        </div>
      </section>