<section id="events-section">
        <div class="container-fluid">
          <div class="row">
            <div class="event-detail col-md-12 col-lg-6 align-self-center order-2">
              <div class="event-detail-header">
                <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <h6 class="text-capitalize">wedding event</h6>
                  <!-- heading section-->
                  <h2 class="text-capitalize">marriage</h2>
                </div>
              </div>
              <div class="event-detail-body">
                <!-- event description-->
                <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p> -->
              </div>
              <div class="event-detail-footer">
                <div class="time">
                  <!-- event time-->
                  <h4>08:00</h4>
                </div>
                <div class="address">
                  <!-- event location-->
                  <p class="text-capitalize">Islamic Centre</p>
                  <!-- event address-->
                  <p class="text-capitalize">Majalengka</p>
                </div>
              </div>
            </div>
            <div class="event-photo col-md-12 col-lg-6 order-1">
              <!-- event photo--><img src="https://cloud-cube.s3.amazonaws.com/kk6rlclk5t5b/public/wd1.jpg	" alt="event photo">
            </div>
          </div>
          <div class="row">
            <div class="event-detail col-md-12 col-lg-6 align-self-center order-1">
              <div class="event-detail-header">
                <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
                  <!-- sub heading section-->
                  <h6 class="text-capitalize">wedding event</h6>
                  <!-- heading section-->
                  <h2 class="text-capitalize">reception</h2>
                </div>
              </div>
              <div class="event-detail-body">
                <!-- event description-->
                <!-- <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p> -->
              </div>
              <div class="event-detail-footer">
                <div class="time">
                  <!-- event time-->
                  <h4>11:00</h4>
                </div>
                <div class="address">
                  <!-- event location-->
                  <p class="text-capitalize">Islamic Centre</p>
                  <!-- event address-->
                  <p class="text-capitalize">Majalengka</p>
                </div>
              </div>
            </div>
            <div class="event-photo col-md-12 col-lg-6 order-2">
              <!-- event photo--><img src="https://cloud-cube.s3.amazonaws.com/kk6rlclk5t5b/public/wd2.jpg	" alt="event photo">
            </div>
          </div>
        </div>
      </section>