<section id="testimony-section">
    <div class="section-background">
      <div class="flower right"><img src="/img/flower.png" alt="section background image"/></div>
      <div class="flower left"><img src="/img/flower.png" alt="section background image"/></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="testimony-section-content col-md-8 mx-auto">
          <div class="testimony-section-message">
            <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
              <!-- sub heading section-->
              <h6 class="text-capitalize">Maps</h6>
              <!-- heading section-->
              <h2 class="text-capitalize">The Location</h2>
            </div>

                  <div class="gift-card-head">
                    <!-- gift or brand logo--><img class="qrcode" src="https://cloud-cube.s3.amazonaws.com/kk6rlclk5t5b/public/qrcode.png" alt="gift logo">
                  </div>
                  <div class="gift-card-body" style="margin-top: 25px;">
                    <!-- gift or brand description-->
                    <a href="http://bit.ly/anfizhwed">
                        <p>Islamic Centre Majalengka</p>
                        <p>Jl. Siti Armilah, Majalengka Kulon, Kec. Majalengka, Kabupaten Majalengka, Jawa Barat 45418</p>
                    </a>
                  </div>

          </div>
        </div>
      </div>
    </div>

  </section>