<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header.ejs %>
  </head>
  <body>
    <header>
      <!-- NAVBAR SECTION-->
      <%# include ./partials/navbar.ejs %>
      <!-- BANNER SECTION show-->
      <% include ./partials/banner.ejs %>
    </header>
    <main>
      <!-- WELCOME SECTION show-->
      <% include ./partials/main/welcome.ejs %>
      
      <!-- BRIDE PROFILE SECTION-->
      <%# include ./partials/main/bride.ejs %>

      <!-- GROOM PROFILE SECTION-->
      <%# include ./partials/main/groom.ejs %>

      <!-- EVENTS SECTION-->
      <%# include ./partials/main/groom.ejs %>
      
      <!-- TESTIMONY SECTION-->
      <%# include ./partials/main/testimony.ejs %>
      
      <!-- GALLERY SECTION-->
      <% include ./partials/main/galery.ejs %>

      <!-- BLOG SECTION-->
      <%# include ./partials/main/blog.ejs %>
      
      <!-- GIFT SECTION-->
      <%# include ./partials/main/gift.ejs %>
      
      <!-- RSPV SECTION-->
      <%# include ./partials/main/rsvp.ejs %>
    </main>
    
    <!-- Google Map Full Width Section -->
    <!-- <div id="map"></div> -->
    
    <section id="testimony-section" style="padding-top: 50px;">
        <div class="row justify-content-center">
            <div class="section-header"><img src="/img/flower-bw.png" alt="flower logo"/>
              <!-- sub heading section-->
              <h6 class="text-capitalize">location</h6>
              <!-- heading section-->
              <h2 class="text-capitalize">the special place</h2>
            </div>
        </div>
        <div class="section-background">
          <div class="flower right"><img src="/img/flower.png" alt="section background image"/></div>
          <div class="flower left"><img src="/img/flower.png" alt="section background image"/></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="testimony-section-content col-md-10 mx-auto">
                  <div id="map">
                    <div class="wrapper">
                      <iframe id="wrapper" src="https://maps.google.com/maps?q=islamic%20centre%20majalengka&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                      </iframe>Google Maps
                    </div>
                    
                    <style>
                      .wrapper {
                          position: relative;
                          padding-bottom: 56.25%; /* 16:9 */
                          padding-top: 25px;
                          height: 0;
                      }
                      .wrapper iframe {
                          position: absolute;
                          top: 0;
                          left: 0;
                          width: 100%;
                          height: 500px;
                      }

                    </style>
                  </div>

                </div>
            </div>
        </div>
        
    </section>

    <footer>
      <!-- FOOTER SECTION show-->
      <% include ./partials/footer.ejs %>
    </footer>
    <% include ./partials/script.ejs %>
  </body>
</html>