<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header.ejs %>
  </head>
  <body>
    <header>
      <!-- NAVBAR SECTION-->
      <%# include ./partials/navbar.ejs %>
      <!-- BANNER SECTION show-->
      <% include ./partials/banner.ejs %>
    </header>
    <main>
      <!-- WELCOME SECTION show-->
      <% include ./partials/main/welcome.ejs %>
      
      <!-- BRIDE PROFILE SECTION-->
      <%# include ./partials/main/bride.ejs %>

      <!-- GROOM PROFILE SECTION-->
      <%# include ./partials/main/groom.ejs %>

      <!-- EVENTS SECTION-->
      <%# include ./partials/main/groom.ejs %>
      
      <!-- TESTIMONY SECTION-->
      <%# include ./partials/main/testimony.ejs %>
      
      <!-- GALLERY SECTION-->
      <%# include ./partials/main/galery.ejs %>

      <!-- BLOG SECTION-->
      <%# include ./partials/main/blog.ejs %>
      
      <!-- GIFT SECTION-->
      <%# include ./partials/main/gift.ejs %>
      
      <!-- RSPV SECTION-->
      <%# include ./partials/main/rsvp.ejs %>
    </main>
    
    <!-- Google Map Full Width Section -->
	<div id="map"></div>

    <footer>
      <!-- FOOTER SECTION show-->
      <% include ./partials/footer.ejs %>
    </footer>
    <% include ./partials/script.ejs %>
  </body>
</html>