<!DOCTYPE HTML>
<html>
<head>
	<title>Home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/error.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/clock.css" />
</head>
<body>
	<div id="main">
        <div id="clockdiv">
            <div>
                <h1 class="days"></h1> :
                <div class="smalltext">Days</div>
            </div>
            <div>
                <h1 class="hours"></h1> :
                <div class="smalltext">Hours</div>
            </div>
            <div>
                <h1 class="minutes"></h1> :
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <h1 class="seconds"></h1>
                <div class="smalltext">Seconds</div>
            </div>
        </div>
    </div>
</body>
<script src="/js/clock.js"></script>
</html>