<!-- <section id="banner-standart-3" style="background-image:url('/img/banner-img.jpg')"> -->
  <section id="banner-standart-3" >
    <div class="container-fluid">
      <div class="banner-content">
        <div class="banner-flower">
          <div class="flower left"><img src="/img/flower2.svg" alt="banner flower"></div>
          <div class="flower right"><img src="/img/flower2.svg" alt="banner flower"></div>
        </div>
        <div class="banner-sub-heading">
          <!-- this is sub heading-->
          <h2 class="text-uppercase">we're merried</h2>
        </div>
        <div class="banner-heading">
          <!-- the names of the bride and the groom-->
          <h1 class="text-capitalize">Nanda &amp; Hafizh</h1>
        </div>
        <div class="banner-date">
          <ul>
            <!-- wedding date-->
            <li>12</li>
            <li><span class="dot"></span></li>
            <!-- wedding month-->
            <li>01</li>
            <li><span class="dot"></span></li>
            <!-- wedding year-->
            <li>20</li>
          </ul>
        </div>
        <div class="banner-detail">
          <!-- wedding location-->
          <h3 class="text-capitalize">Masjid</h3>
          <!-- wedding time-->
          <p class="text-uppercase">at six o'clock in the evening sacramento california</p>
        </div>
      </div>
    </div>
</section>