<section id="footer-section">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-lg-6 mx-auto">
            <!-- the names of bride and the grooms name-->
            <h6 class="text-uppercase footer-head">nanda &amp; hafizh</h6>
            <!-- footer heading-->
            <h1 class="text-capitalize footer-body">thank you</h1>
            <!-- footer messages-->
            <p class="text-uppercase footer-foot">see you there we hope you come</p>
        </div>
        </div>
    </div>
</section>
<!-- SOUNDCLOUD PLAYER-->
<div id="soundcloud-player">
    <div class="music-button"><i class="icon ion-music-note"></i></div>
    <div class="music-frame">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/439083891&amp;amp;color=%2379578e&amp;amp;auto_play=true&amp;amp;hide_related=false&amp;amp;show_comments=false&amp;amp;show_user=false&amp;amp;show_reposts=false&amp;amp;show_teaser=true"></iframe>
    </div>
</div>